<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find qingzhou_description)/urdf/qingzhou.urdf.xacro"/>
    <!-- <arg name="world_name" default="worlds/empty_world"/> -->
    <arg name="world_name" value="$(find qingzhou_gazebo)/worlds/map3_7.world" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <group ns="robot1">
        <include file="$(find qingzhou_description)/launch/robot.launch.xml">
            <arg name="robot_name" value="robot1"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.0 -Y 0.0"/>
        </include>
    </group>

    <group ns="robot2">
        <include file="$(find qingzhou_description)/launch/robot.launch.xml">
            <arg name="robot_name" value="robot2"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="init_pose" value="-x 0.0 -y 3.0 -z 0.0 -Y 0.0"/>
        </include>
    </group>

</launch>